{% extends 'base.html' %}

{% load static %}

{% block title %}Cari Komprehensif{% endblock %}

{% block content %}

<div class="mx-5">
    <h1 class="text-center">
        Cari Kata Komprehensif
    </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="panjang" class="form-label">Panjang</label>
          <input type="number" class="form-control" min="1" id="panjang" name="panjang">
        </div>
        <div class="mb-3">
          <label for="batas" class="form-label">Panjang maksimum (opsional)</label>
          <input type="number" class="form-control" min="0" id="batas" name="batas">
          <div id="emailHelp" class="form-text">
            Jika kamu ingin mencari kata dengan panjang yang pas, jangan isi bagian ini.
          </div>
        </div>
        <div class="mb-3">
            <label for="prefiks" class="form-label">Prefiks</label>
            <input type="text" class="form-control" id="prefiks" name="prefiks">
        </div>
        <div class="mb-3">
            <label for="sufiks" class="form-label">Sufiks</label>
            <input type="text" class="form-control" id="sufiks" name="sufiks">
        </div>
        <input type="submit" class="btn btn-primary" value="Cari">
    </form>
</div>

{% endblock content %}