{% extends 'base.html' %}

{% load static %}

{% block title %}Cari Prefiks{% endblock %}

{% block content %}

<div class="mx-5">
    <h1 class="text-center">
        Cari Kata Berdasarkan Prefiks
    </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="prefiks" class="form-label">Prefiks</label>
          <input type="text" class="form-control" id="prefiks" name="prefiks" required>
        </div>
        <button type="submit" class="btn btn-primary">Cari</button>
    </form>
</div>

{% endblock content %}